
<form method="post" action="/" >
	<fieldset>
		First City:
		<input type="text" name="firstCity"><br>
		Second City:
		<input type="text" name="secondCity"><br>
		Third City:
		<input type="text" name="thirdCity"><br>
		<input type="submit" name="Submit">
	</fieldset>

	

</form>